﻿/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Accumen
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120712
*/

body {
	margin: 0;
	padding: 0;
	cursor: default;
}
.name, .mail{
	display:inline-block;
}
.task{
	display:block;
	margin:0 auto;
	margin-bottom: 10px;
	border:1px solid black;
	width: 30%;
	text-align: center;
}
.enter, .exit{
	display:block;
	float: right;
}
.page{
	height: 30px;
	width: 30px;
	border: 3px solid black;
	margin-right: 10px;
	text-align: center;
	line-height: 30px;
}
.pageBlock {
	display: flex;
	justify-content: center;
}
.select{
	background: gray;
}
.addTask{
	
	display:block;
	margin:0 auto;
	margin-top: 10px;
}
.status{
	display: inline-block;
	width: 39%;
	text-align: right;
}
.editet{
	display: inline-block;
	width: 60%;
	text-align: left;
}
.sortBlock{
	display:block;
	float: left;
}
.b-popup{
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin:45px auto 0px auto;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
}
.input input{
	display:block;
	margin:0 auto;
	margin-top: 5px;
}
.input .addDescription, .editDescription{
	display:block;
	margin:0 auto;
	margin-top: 5px;
	height: 160px;
	width: 500px;
	text-align: left;
	resize: none; 
}
.save, .submit, .editSave{
	margin-top: 5px;
}
.error{
	border: 1px solid red;
}
.b-popup-error{
	position:fixed;
	top: 0;
	left: 46%;
}
.b-popup-error .b-popup-content{
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
}
.done{
	color: green;
}
.notDone{
	color: red;
}
.sortType{
	display:block;
	text-align: center;
}